main {
    padding: 1rem;
    width: 100%;
}

.row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

input {
    background-color: #FAFAFA;
    color: black;
    border-radius: 8px;
    border: 1px solid #FAFAFA;
    padding: 0.5rem;
    min-width: 300px;
}

input:hover {
    background-color: #B0B0CA;
}

button.active {
    border: 4px solid #646cff;
}